<?xml version="1.0" encoding="UTF-8"?>
<molgenis name="org.molgenis">
	<module name="core">
		<entity name="MolgenisFile" implements="Identifiable"
			decorator="org.molgenis.omicsconnect.decorators.MolgenisFileDecorator"  xref_label="Name">
			<description>
				Helper entity to deal with files. Has a decorator to regulate
				storage and coupling to an Entity. Do not make abstract because of
				subtyping. This means the names of the subclasses will be used to
				distinguish MolgenisFiles and place them in the correct folders.
				<br />
				MS: make it use the &lt;field type="file" property under the hood. 
				<br />
				MS: where do the mimetypes go? I mean, I don't see the added value
				now.
			</description>
			<field name="Extension" nillable="false" length="8"
				description="The file extension. This will be mapped to MIME type at runtime. For example, a type 'png' will be served out as 'image/png'." />
			<unique fields="Name"/>
		</entity>
		<entity name="RuntimeProperty" implements="Identifiable"  xref_label="Name">
			<field name="Value" length="127" type="varchar" nillable="false" />
			<unique fields="Name" description="Name is unique within its type " />
		</entity>
	</module>
</molgenis>